h2 {
  margin-bottom: 35px;
}
h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 45px;
  .text {
    &.simple-code {
      font-weight: 300;
      color: var(--text-code-color);

      &::before {
        content: "`";
      }
    }

    &.anchor {
      font-style: italic;
    }
  }
}

pre {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 45px;
  padding: 10px;
  background-color: #fbf8f8;
  border-radius: 10px;

  code {
    font-size: 0.95rem;
    font-family: "Fira Code";
  }
}
