h2 {
  margin-bottom: 35px;
}
h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 45px;

  .text {
    &.simple-code {
      font-weight: 300;
      color: var(--text-code-color);

      &::before {
        content: "`";
      }
    }

    &.italic {
      font-weight: 300;
      font-style: italic;
    }

    &.anchor {
      font-style: italic;
    }
  }
}

pre {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 45px;
  padding: 10px;
  background-color: #fbf8f8;
  border-radius: 10px;

  code {
    font-size: 0.95rem;
    font-family: "Fira Code";
  }
}

.simple-link {
  display: inline-block;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 45px;
}

.note--container {
  padding: 30px;
  background-color: aqua;
  margin-bottom: 45px;
  font-style: italic;
  border-radius: 10px;

  p {
    margin: 0;
  }
}
