$fSize: 1.25rem;
$anchorColor: #142bfe;

.aside-button {
  position: fixed;
  left: 90%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 10px;
  background-color: transparent;
  border: none;
  transition: 200ms ease-in-out;
  cursor: pointer;
  z-index: 999;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    transform-origin: center center;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    mix-blend-mode: difference;
    transition: inherit;
  }

  &::before {
    top: 100%;
  }

  &.open {
    height: 35px;

    &::before,
    &::after {
      top: 50%;
    }

    &::after {
      transform: translateY(-50%) rotate(135deg);
    }
    &::before {
      transform: translateY(-50%) rotate(-135deg);
    }
  }
}

.container {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  min-height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-color: rgb(240, 240, 240);
  transition: 200ms ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .content {
    .stack {
      .stack-title {
        display: inline-block;
        font-size: $fSize;
        font-weight: bold;
        margin-bottom: 11px;
      }

      .stack--items__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 26px;
        margin-bottom: 35px;

        a {
          position: relative;
          display: inline-block;
          font-style: italic;
          font-weight: 300;
          text-decoration: none;
          color: $anchorColor;

          &:hover {
            &::after {
              width: 100%;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: $anchorColor;
            transition: 500ms ease-in-out;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px 0;
    padding-left: inherit;
    padding-right: inherit;
  }
}

@media (min-width: 1024px) {
  .container {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
  }
}
