.main {
  display: flex;
  justify-content: center;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Didot";

    span {
      font-family: inherit;
    }
  }

  .content-container {
    max-width: 760px;
    width: 100%;
    margin-top: 30px;
    padding: 0 25px;

    .header,
    .content {
      // background-color: #0001;
      margin-bottom: 100px;
    }

    .header {
      h1 {
        font-size: 2rem;
        margin-bottom: 45px;
      }
    }

    .content {
      @import "text";
    }
  }
}

@media (min-width: 1280px) {
  .main .content-container {
    max-width: 1024px;
  }
}
