.main {
  display: flex;
  justify-content: center;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Didot";

    span {
      font-family: inherit;
    }
  }

  .content-container {
    max-width: 760px;
    width: 100%;
    margin-top: 30px;
    padding: 0 25px;

    .header {
      margin-bottom: 100px;

      h1 {
        font-size: 2rem;
        margin-bottom: 45px;
      }
    }
  }
}
