.container {
  margin-bottom: 150px;

  p {
    // text-transform: uppercase;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .link-container {
      width: 48%;

      a {
        display: inline-block;
        text-decoration: none;
        transition: 200ms ease;

        &:hover {
          color: var(--hover-color);
          transform: scale(1.05);
        }

        span {
          font-style: italic;
          font-weight: 300;
        }

        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
