:root {
  font-size: 18px;
  --hover-color: rgb(157, 6, 94);
  --text-code-color: #0c8cd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display";
}

@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ Bold\ Italic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ LT\ Std\ Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ LT\ Std\ Italic.otf);
  font-style: italic;
}

.container {
  width: 94%;
  margin: 0 auto;
  max-width: 730px;
}

.github--anchor {
  display: inline-block;
  color: #000;
  font-size: 1.6rem;
  transition: 200ms ease-in-out;
}

.github--anchor:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

@media (min-width: 541px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }

  .github--anchor {
    font-size: 2rem;
    margin-top: 10px;
  }
}
