.text {
  display: inline-block;

  .text-box {
    display: inline-block;
    overflow: hidden;

    span,
    strong {
      display: inline-block;
      white-space: pre;
      transform: translate(20%, 120%) rotate(15deg);
      transition: all 200ms ease-in-out;
    }
  }

  &.show--text {
    .text-box {
      span,
      strong {
        transform: translate(0%, 0%) rotate(0deg);
      }
    }
  }
}
