.textToLeft {
  display: flex;
  justify-content: flex-start;
}

.textToRigth {
  display: flex;
  justify-content: flex-end;

  .textContainer {
    text-align: end;
  }
}

.textToLeft,
.textToRigth {
  &.magin-bottom {
    margin-bottom: 100px;
  }

  .textContainer {
    display: inline-block;
    width: 80%;

    h2 {
      font-size: 2rem;
      margin-bottom: 0.8rem;
      font-family: "Didot";
    }

    p {
      display: inline-block;
      width: 85%;
    }

    strong {
      font-style: italic;
    }
  }
}

.npm-code {
  display: block;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 23px;
  cursor: pointer;
  transition: 200ms ease;

  &::before {
    content: "$ ";
  }

  &:hover {
    color: var(--hover-color);
  }
}

.networks-container {
  margin-top: 1rem;
}

@media (min-width: 541px) {
  .textToLeft,
  .textToRigth {
    .textContainer {
      display: inline-block;
      width: 65%;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.5rem;
        span {
          font-size: inherit;
        }
      }
    }
  }
  .npm-code {
    font-size: 1.5rem;
  }
}
