.header {
  margin-bottom: 110px;
}

@media (min-width: 541px) {
  .header {
    margin-bottom: 190px;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 70px;
  }
  .container {
    flex-direction: row;
  }
}
