.textToLeft {
  display: flex;
  justify-content: flex-start;
}

.textToRigth {
  display: flex;
  justify-content: flex-end;
}

.textToLeft,
.textToRigth {
  .textContainer {
    display: inline-block;
    width: 65%;

    strong {
      font-style: italic;
    }
  }
}

.npm-code {
  display: block;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 23px;
  cursor: pointer;
  transition: 200ms ease;

  &::before {
    content: "$ ";
  }

  &:hover {
    color: var(--hover-color);
  }
}

.networks-container {
  margin-top: 1rem;
}
