.container {
  position: relative;

  .container--slider {
    margin: 26px 0;

    span {
      font-family: "Didot";
      font-size: 50px;
      text-transform: uppercase;
      white-space: pre;
    }

    &:nth-child(1) {
      animation: slider 60s linear infinite;
    }
  }
}

@keyframes slider {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -552.75px;
  }
}
